@model CheckDrive.ApiContracts.MechanicHandover.MechanicHandoverDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<h1 style="margin-left:180px">Mexanik(Topshiruvchi) oynasi</h1>

<div class="col-12 text-end mb-2">
    <a class="btn btn-success" asp-action="create" style="margin-right:180px">
        <i class="fa fa-plus"></i> Create
    </a>
</div>

<div class="row">
    <div class="col-12 text-center">
        <ejs-grid id="mechanicHandovers-list" dataSource="@ViewBag.MechanicHandovers" gridLines="Vertical" allowSorting="true" style="margin: 0 auto;">
            <e-grid-columns>
                <e-grid-column headerText="Mexanik F.I." field="MechanicName" textAlign="Center" typeof="text" class="customcss" width="20%"></e-grid-column>
                <e-grid-column headerText="Haydovchi F.I." field="DriverName" textAlign="Center" typeof="text" class="customcss" width="20%"></e-grid-column>
                <e-grid-column headerText="Topshirish" field="IsHanded" textAlign="Center" width="20%"></e-grid-column>
                <e-grid-column headerText="Sabab" field="Comments" textAlign="Center" typeof="text" class="customcss" width="40%"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<style>
    #mechanicHandovers-list {
        width: 80% !important;
    }

        #mechanicHandovers-list .e-gridheader,
        #mechanicHandovers-list .e-gridcontent {
            width: 100% !important;
        }

            #mechanicHandovers-list .e-gridheader th,
            #mechanicAcceptances-list .e-gridcontent td {
                width: auto !important;
                white-space: nowrap;
            }
</style>
