.logout-btn {
    background-color: #1657d9;
    border: none;
    color: white;
    padding: 5px 10px 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

.logout-btn .logout-icon {
    background-color: #033bab;
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn .logout-icon i {
    color: white;
    font-size: 12px;
}
