html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.main-content {
    margin-left: 290px;
    height: 92vh;
    border-radius: 0px;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: auto;
    overflow-x: auto;
    background-color: #fafafa;
}

.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

.e-grid {
    border: 0;
    border-radius: 10px;
}

.e-grid .e-gridcontent, .e-grid .e-table {
    background-color: white;
}

.e-grid .e-gridheader {
    border: 5px;
    border-radius:50px;
    padding: 10px;
    background-color: ghostwhite;
}

    .e-grid .e-row:hover .e-rowcell {
        background-color: rgb(204, 229, 255) !important;
    }

    .e-grid .e-rowcell.e-selectionbackground {
        background-color: ghostwhite;
    }

.e-grid .e-gridheader .e-headercell {
    background-color: ghostwhite;
    border:5px;
}

.e-grid .e-gridpager {
    background-color: white;
}

.e-grid .e-pagercontainer {
    border: medium;
    background-color: black;
}

.e-grid .e-content table {
    padding: 0px 10px;
}

.e-pagercontainer .e-icons {
    background-color: black;
    border: none !important;
}

.e-pager .e-numericitem {
    color: black;
    background-color: white;
    padding: 15px !important;
}

.e-pager .e-numericitem:not(.e-currentitem) {
    border: none !important;
}

.e-pager .e-numericitem:hover {
    color: black;
}

.e-pager .e-numericitem.e-currentitem {
    color: black;
    border: none !important;
    background-color: whitesmoke;
}

.e-pager div.e-icons:not(.e-disable) {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

/* Navbar */
nav.navbar {
    background-color: white;    
}

nav.navbar i {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

nav.navbar i:hover, nav.navbar img:hover {
    cursor: pointer;
    background-color: #48545f14;
    transform: scale(1.05) translateZ(0px);
}

nav.navbar {
    margin-left: 290px;
    background-color:white;
}

.notifications a {
    font-size: 22px;
    color: #1C375C !important;
    margin-right: 20px;
}

.profile-icon {
    font-size: 22px;
    color: #1C375C;
    margin-right: 10px;
}

.profile-wrapper {
    width: 80%;
    display: flex;
    align-items: center; 
    background-color: rgba(72, 84, 95, 0.12);
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 27px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size:20px;
}

.profile-wrapper i {
    font-size: 20px;
    margin-right: 12px; 
}

.titles h6 {
    font-size: 18px;
}

/* Radio Button Group */
.e-btn-group.custom-rbt-group {
    width: 100%;
}

.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

/* SideBar */
#sidebar {
    background-color: white;
    border-right: 1px groove rgba(75, 82, 85, 0.24);
    padding: 10px 0px;
    overflow: hidden;
}

.app-logo img{
    text-align: center;
    margin-bottom: 15px;
    height:80px;
    width:80px;
    display:block;
    margin: auto ;
}

.e-menu-wrapper ul.e-menu .e-menu-item .e-menu-icon {
    color: #505050;
    font-size: 20px;
    margin-right: 20px;
}

.e-menu-wrapper {
    background-color: white !important;
}

.e-anchor-wrap {
    color: #4B5054;
    gap: 5px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 18px;
    margin-left: 20px;
}

.e-separator {
    font-size: 20px;
    color: #414549;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-right: 10px;
}

.e-menu .e-selected {
    background-color: white !important;
}

.e-menu .e-list-item {
    transition: background-color 0.3s, color 0.3s;
}

.e-menu .e-selected .e-menu-icon {
    background: #1C375C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.e-menu-wrapper ul.e-menu .e-selected::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 24px;
    background: #1C375C;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: -4px;
}

.e-menu .e-selected .e-anchor-wrap {
    background: #1C375C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/* Widget */
.widget {
    border-radius: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
}

    .widget.summary > div:first-child {
        background-color: whitesmoke;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.total > div:first-child {
        color: black;
    }

    .widget.sales > div:first-child {
        color: black;
    }

    .widget.supplies > div:first-child {
        color: black;
    }

    .widget.chart {
        padding: 5px;
    }
    .car-widget {
        background: linear-gradient(90deg, rgba(29,77,219,1) 26%, rgba(18,124,217,1) 51%, rgba(5,175,214,1) 88%);
        border-radius: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white;
        font-family: Arial, sans-serif;
    }

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-container {
    display: flex;
    align-items: center;
    position: relative;
}


/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    top: 40px; 
    right: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 160px;
    border-radius:10%;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown a:hover {
    background-color: transparent;
}

.dropdown a:last-child {
    border-bottom: none;
}
.profile-page-text-color {
    color: #1C375C;
}

.icon-wrapper {
    cursor: pointer;
}
