html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*SideBar*/
#sidebar {
    background-color:#000000;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    overflow: hidden;
}

.widget {
    border-radius: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
}

    .widget.summary > div:first-child {
        background-color: whitesmoke;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.total > div:first-child {
        color: black;
    }

    .widget.sales > div:first-child {
        color: black;
    }

    .widget.supplies > div:first-child {
        color: black;
    }

    .widget.chart {
        padding: 5px;
    }