/* Основные настройки */
.logout-btn {
    background-color: #1657d9; /* pink background color */
    border: none; /* no border */
    color: white; /* white text color */
    padding: 5px 10px 5px 40px; /* increased left padding to make room for the icon */
    text-align: center; /* center the text */
    text-decoration: none; /* no underline */
    display: inline-block; /* inline-block display */
    font-size: 14px; /* text size */
    border-radius: 50px; /* rounded corners */
    cursor: pointer; /* pointer cursor on hover */
    position: relative; /* relative position for the icon */
}

    .logout-btn .logout-icon {
        background-color: #033bab; /* dark red background for the icon */
        border-radius: 50%; /* circular icon */
        padding: 8px; /* padding inside the icon */
        position: absolute; /* absolute position */
        left: 0px; /* move icon to the start of the button */
        top: 50%; /* vertically center */
        transform: translateY(-50%); /* adjust vertical centering */
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .logout-btn .logout-icon i {
            color: white; /* white color for the icon */
            font-size: 12px; /* icon size */
        }

        
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: auto;
}

/* BreadCrumb */
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/* Button */
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

/* Hyperlink */
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/* Grid */
.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: whitesmoke;
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: whitesmoke;
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: whitesmoke;
        }

    .e-grid .e-gridpager {
        background-color: whitesmoke;
    }

    .e-grid .e-pagercontainer {
        border: medium;
        background-color: black;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }

.e-pagercontainer .e-icons {
    background-color: black;
    border: none !important;
}

.e-pager .e-numericitem {
    color: black;
    background-color: white;
    padding: 15px !important;
}

    .e-pager .e-numericitem:not(.e-currentitem) {
        border: none !important;
    }

    .e-pager .e-numericitem:hover {
        color: black;
    }

    .e-pager .e-numericitem.e-currentitem {
        color: black;
        border: none !important;
        background-color: whitesmoke;
    }

.e-pager div.e-icons:not(.e-disable) {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

/* Logo */
.logo-wrapper {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-logo {
    padding: 10px 10px;
}

/* Menu */
#menu {
    width: 100% !important;
    background-color: inherit;
    overflow: hidden;
}

    #menu .e-menu-item:not(.e-separator) {
        height: 50px;
        border-radius: 4px;
        background-color: whitesmoke;
    }

    #menu .e-menu-item {
        box-sizing: border-box;
    }

        #menu .e-menu-item a {
            width: 100%;
            color: #484f54;
            font-weight: bold;
            padding: 7px 5px;
            box-sizing: border-box;
        }

    #menu .e-anchor-wrap {
        display: inline-block;
    }

    #menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
        color: #292f33;
    }

    #menu .e-menu-item.e-separator {
        border: none;
        margin: 5px 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: purple;
    }

        #menu .e-menu-item.e-separator:not(:first-child) {
            margin-top: 35px;
        }

/* Navbar */
nav.navbar {
    background-color: rgba(18, 22, 29);
}

    nav.navbar i {
        padding: 10px;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
    }

        nav.navbar i:hover, nav.navbar img:hover {
            cursor: pointer;
            background-color: #48545f14;
            transform: scale(1.05) translateZ(0px);
        }

nav.navbar {
    margin-left: 290px;
}

/* Profile Pic */
img.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(72, 84, 95, 0.12);
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

    .profile-wrapper .titles {
        line-height: 1;
    }

/* Radio Button Group */
.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

/* SideBar */
#sidebar {
    background-color: whitesmoke;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    overflow: hidden;
}

    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }

#sidebar-toggler {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: #48545f14;
        transform: scale(1.05) translateZ(0px);
    }

#sidebar.e-open .e-menu-item:hover {
    background-color: #D2D2D2;
}

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }

    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon, #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles, #sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: '\f100'
}

#sidebar.e-close #sidebar-toggler:before {
    content: '\f101'
}

/* Widget */
.widget {
    border-radius: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
}

    .widget.summary > div:first-child {
        background-color: whitesmoke;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.total > div:first-child {
        color: black;
    }

    .widget.sales > div:first-child {
        color: black;
    }

    .widget.supplies > div:first-child {
        color: black;
    }

    .widget.chart {
        padding: 5px;
    }
