<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CheckDrive.Web</title>

    <link href="https://cdn.syncfusion.com/ej2/25.2.3/bootstrap5.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CheckDrive.Web.styles.css" asp-append-version="true" />
    <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>
</head>
<body>

    <partial name="_SideBar" />
    <div class="navbar" style="background-color:white;">
        <div class="profile-container">
            <div class="notifications">
                <a href="" class="text-decoration-none"><i class="fa-regular fa-message"></i></a>
                <a href="" class="text-decoration-none"> <i class="fa-regular fa-bell"></i> </a>
            </div>
            <div class="profile-icon">
                <div class="icon-wrapper" onclick="toggleDropdown()">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div id="dropdown" class="dropdown">
                    <span>
                        <a href="/accounts/details" style="color:#1C375C" class=" fs-6 fw-bold"><i class="fa-regular fa-user"></i> Shaxsiy kabinet</a>
                    </span>
                    <span>
                        <a href="/auth/login" class="text-danger fs-6 fw-bold"><i class="fa-solid fa-right-from-bracket"></i> Chiqish</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
