@{
    List<Object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/dashboard",
        iconCss = "fa-solid fa-home",
    });

    menuItems.Add(new
    {
        text = "Ishchilar",
        separator = true,
    });

    menuItems.Add(new
    {
        text = "Ishchilar",
        iconCss = "fas fa-users",
        url = "/accounts"
    });

    menuItems.Add(new
    {
        text = "Avtomobillar",
        iconCss = "fas fa-car",
        url = "/cars"
    });

    menuItems.Add(new
    {
        text = "Tekshiruvlar",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "Shifokor Ko'riklari",
        iconCss = "fa-solid fa-briefcase-medical",
        url = "/doctorreviews"
    });
    menuItems.Add(new
    {
        text = "Mexanik(Topshirish)",
        iconCss = "fa-solid fa-tools",
        url = "/mechanichandovers"
    });
    menuItems.Add(new
    {
        text = "Operator Xizmatlari",
        iconCss = "fa-solid fa-headset",
        url = "/OperatorReviews"
    });
    menuItems.Add(new
    {
        text = "Mexanik(Qabul qiluvchi)",
        iconCss = "fa-solid fa-car-on",
        url = "/mechanicacceptances"
    });
    menuItems.Add(new
    {
        text = "Dispetcher Xizmatlari",
        iconCss = "fa-solid fa-user-gear",
        url = "/DispatcherReviews"
    });
    menuItems.Add(new
    {
        text = "Umumiy",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "Sozlamalar",
        iconCss = "fa-solid fa-gear",
        url = "/#"
    });
    menuItems.Add(new
    {
        text = "Tizimdan chiqish",
        iconCss = "fa-solid fa-right-from-bracket",
        url = "/#"
    });

    TempData.Keep("UserName");
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="app-logo">
            <img src='~/LogoCheakDrive.png' style="height: 80px; width:80px" />
        </div>

        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>