@{
    List<Object> menuItems = new List<Object>();
    
    menuItems.Add(new
    {
        text = "Dashboard",
        iconCss = "fa-solid fa-home",
        url = "/dashboard",
    });

    menuItems.Add(new
    {
        text = "Qarzlar",
        iconCss = "fa-solid fa-file-invoice-dollar",
        url = "/#",
    });

    menuItems.Add(new
    {
        text = "Umumiy",
        separator = true,
    });

    menuItems.Add(new
    {
        text = "Ishchilar",
        iconCss = "fas fa-users",
        url = "/accounts"
    });

    menuItems.Add(new
    {
        text = "Avtomobillar",
        iconCss = "fas fa-car",
        url = "/cars"
    });
    
    menuItems.Add(new
    {
        text = "Yoqilg'ilar",
        iconCss = "fa-solid fa-gas-pump",
        url = "/#"
    });

    menuItems.Add(new
    {
        text = "Tekshiruvlar",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "Shifokor",
        iconCss = "fa-solid fa-briefcase-medical",
        url = "/doctorreviews"
    });
    menuItems.Add(new
    {
        text = "Mexanik (Topshirish)",
        iconCss = "fa-solid fa-tools",
        url = "/mechanichandovers"
    });
    menuItems.Add(new
    {
        text = "Operator",
        iconCss = "fa-solid fa-headset",
        url = "/OperatorReviews"
    });
    menuItems.Add(new
    {
        text = "Mexanik (Qabul qilish)",
        iconCss = "fa-solid fa-car-on",
        url = "/mechanicacceptances"
    });
    menuItems.Add(new
    {
        text = "Dispetcher",
        iconCss = "fa-solid fa-user-gear",
        url = "/DispatcherReviews"
    });

    TempData.Keep("UserName");
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="app-logo logo-wrapper mb-5">
            <img src='~/Images/LogoCheakDrive.png' />
        </div>    
        
        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>