@using CheckDrive.Web.Stores.Menu;
@using CheckDrive.Web.Stores.User
@inject ICurrentUserService currentUserService;
@inject IMenuService menuService;

@{
    var role = currentUserService.GetRole();
    var menuItems = menuService.GetMenuItems(role);
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="app-logo logo-wrapper mb-5">
            <img src='~/Images/LogoCheakDrive.png' />
        </div>    
        
        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>