@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            position: relative;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        .container {
            text-align: center;
            padding-top: 50px; /* Add 50 pixels padding at the top */
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .button-container {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }

            .button-container button {
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                background-color: #F62D2D;
                color: white;
                border: none;
                border-radius: 20px;
            }
    </style>
</head>
<body>
    <div class="container">
        <img src="~/images/NotFound.png" alt="Description of the image" />
    </div>
    <div class="button-container">
        <button href="@Url.Action("Dashboard", "Index")">Bosh Sahifaga Qaytish</button>
    </div>
</body>
</html>
