@model CheckDrive.ApiContracts.Account.AccountDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Haydovchilar</h2>

<div class="row">
    <div class="col-12">
        <ejs-grid id="driversz-list" dataSource="@ViewBag.Drivers" gridLines="Vertical" allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" typeof="text"></e-grid-column>
                <e-grid-column headerText="First Name" field="FirstName" typeof="text" class="customcss"></e-grid-column>
                <e-grid-column headerText="Last Name" field="LastName" typeof="text" class="customcss"></e-grid-column>
                <e-grid-column headerText="BithDate" field="Bithdate" typeof="text" class="customcss"></e-grid-column>
                <e-grid-column headerText="Phone Number" field="PhoneNumber" typeof="text" class="customcss"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
