@model CheckDrive.ApiContracts.OilMark.OilMarkForCreateDto

@{
    ViewData["Title"] = "Create";
}

<h4>Yangi yoqilg'i turini yaratish</h4>
<hr />
<div class="row ">
    <div class="col-md-5 mb-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
                <label asp-for="OilMark" class="control-label"> Yoqilg'i turini kiriting</label>
                <input asp-for="OilMark" class="form-control" />
                <span asp-validation-for="OilMark" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-center ">
                
                <button  type="submit" class="btn btn-success">
                    <i class="fa fa-plus"></i> Yaratish
                </button>
            </div>
        </form>
    </div>
</div>

