@using CheckDrive.Web.Requests.OilMark
@model UpdateOilMarkRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutForModal.cshtml";
}
<div class="oilMarkModal">
    <div class="mb-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="">
                <label asp-for="Name" class="control-label">Yo'qilg'i turi nomi</label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-success" style="width:200px">
                    Saqlash
                </button>
            </div>
        </form>
    </div>
</div>
