@model CheckDrive.ApiContracts.OilMark.OilMarkDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutForModal.cshtml";
}
<div style="width : 1000px">
    <div class="col-md-5 mb-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
                <label asp-for="OilMark" class="control-label"></label>
                <input asp-for="OilMark" class="form-control" />
                <span asp-validation-for="OilMark" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-success" style="width:200px">
                    Saqlash
                </button>
            </div>
        </form>
    </div>
</div>
