@using CheckDrive.Web.ViewModels.OilMark
@model List<OilMarkViewModel>

@{
    ViewData["Title"] = "Yoqilg'ilar";
}

@section Scripts {
	<script src="~/js/oilMark.js"></script>
}

 <div class="d-flex flex-row-reverse">
    <button id="openOilCreateModal" data-toggle="modal" class="btn btn-success open-modal" type="button" style="width: 10%">
         <i class="fa fa-plus"></i> Yangi
     </button>
 </div>    

<div class="row mt-1">
    <div class="col-12">
        <ejs-grid id="oilMarks-list" 
                     dataSource="@Model"
                     gridLines="Both"
                     allowPaging="true"
                     allowSorting="true">
                    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>             
        <e-grid-columns>
            <e-grid-column headerTaxt="Id" field="Id" textAlign="Center" width="30" headerTextAlign="Center"></e-grid-column>
            <e-grid-column headerText="Yoqilg'i nomi" field="Name" textAlign="Center" width="200" headerTextAlign="Center" ></e-grid-column>
            <e-grid-column width="180" type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
        </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<div class="modal fade" id="createOilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">Yangi yoqilg'i qo'shish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-target="#createOilModal">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="oilModalContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteOilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="deleteOilContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="oilEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4>Yoqilg'i ma`lumotini o`zgartirish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                    </span>
                </button>
            </div>
            <div class="modal-body" id="oilEditModalContent">
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="actionTemplate">
    <button type="button"  class="shadow-sm  bg-white rounded e-btn e-flat" title="Tahrirlash" onclick="onEditClick(${Id})">
        <i class="fa-solid fa-pen fa-lg text-warning" ></i>
    </button>
    <button type="button" class="shadow-sm   bg-white rounded e-btn e-flat mx-2" title="O&#39;chirish" @* onclick="onDeleteClick(${Id})" *@>
        <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
    </button>
</script>
