@model CheckDrive.ApiContracts.DispatcherReview.DispatcherReviewForCreateDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<div class="row mt-custom">
    <div class="col-md-4 offset-md-1 mt-5">
        <h4>Ro'yxatga olish</h4>
        <hr class="w-50" />
        <form asp-action="Create" method="post" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-50">
                <label asp-for="DistanceCovered" class="control-label"></label>
                <input asp-for="DistanceCovered" class="form-control" />
                <span asp-validation-for="DistanceCovered" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="FuelSpended" class="control-label"></label>
                <input asp-for="FuelSpended" class="form-control" id="FuelSpended" />
                <span asp-validation-for="FuelSpended" class="text-danger" id="fuelSpendedError"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" readonly />
                <input asp-for="Date" type="hidden" id="hiddenDate" />
            </div>
            <div class="form-group w-50">
                <label asp-for="DispatcherId" class="control-label"></label>
                <input asp-for="DispatcherId" class="form-control" readonly />
            </div>
            <div class="form-group w-50">
                <label asp-for="OperatorId" class="control-label"></label>
                <input asp-for="OperatorId" class="form-control" readonly />
            </div>
            <div class="form-group w-50">
                <label asp-for="MechanicId" class="control-label"></label>
                <input asp-for="MechanicId" class="form-control" readonly />
            </div>
            <div class="form-group w-50">
                <label asp-for="DriverId" class="control-label"></label>
                <input asp-for="DriverId" class="form-control" readonly />
            </div>
            <div class="form-group w-50">
                <label asp-for="CarId" class="control-label"></label>
                <input asp-for="CarId" class="form-control" readonly />
            </div>
            <div class="form-group w-50">
                <label asp-for="MechanicHandoverId" class="control-label"></label>
                <input asp-for="MechanicHandoverId" class="form-control" readonly />
            </div>
            <div class="form-group w-50">
                <label asp-for="MechanicAcceptanceId" class="control-label"></label>
                <input asp-for="MechanicAcceptanceId" class="form-control" readonly />
            </div>
            <div class="form-group w-50">
                <label asp-for="OperatorReviewId" class="control-label"></label>
                <input asp-for="OperatorReviewId" class="form-control" readonly />
            </div>
            <div class="form-group mt-3 w-50">
                <a asp-action="PersonalIndex" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i> Orqaga
                </a>
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa fa-plus"></i> Yaratish
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('createForm').addEventListener('submit', function (event) {
            var fuelSpended = document.getElementById('FuelSpended').value;
            var fuelSpendedError = document.getElementById('fuelSpendedError');
            var maxDouble = Number.MAX_VALUE;

            fuelSpendedError.textContent = '';

            if (fuelSpended < 0 || fuelSpended > maxDouble) {
                event.preventDefault();
                fuelSpendedError.textContent = 'Musbat son kiriting';
                return false;
            }

            var distanceCovered = document.getElementById('DistanceCovered').value;
            var currentDate = new Date().toISOString();

            if (!distanceCovered) {
                document.getElementById('DistanceCovered').value = '0';
            }

            if (!fuelSpended) {
                document.getElementById('FuelSpended').value = '0';
            }

            document.getElementById('hiddenDate').value = currentDate;
        });
    </script>
}
