@model CheckDrive.ApiContracts.DispatcherReview.DispatcherReviewDto

@{
    ViewData["Title"] = "Edit";
}

<h4>Ma`lumotlarni tahrirlash</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="DispatcherId" class="control-label">Dispeytcher F.I.Sh</label>
                <select asp-for="DispatcherId" class="form-control" asp-items="ViewBag.DispatcherSelectList"></select>
                <span asp-validation-for="DispatcherId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="DriverId" class="control-label">Haydovchi F.I.Sh</label>
                <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverSelectList"></select>
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="CarId" class="control-label">Moshina</label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarSelectList"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="FuelSpended" class="control-label">Sarflangan yoqilg'i</label>
                <input asp-for="FuelSpended" class="form-control" />
                <span asp-validation-for="FuelSpended" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="DistanceCovered" class="control-label">Bosib o'tilgan masofa</label>
                <input asp-for="DistanceCovered" class="form-control" />
                <span asp-validation-for="DistanceCovered" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Orqaga
                </a>
                <button class="btn btn-outline-success">
                    <i class="fa fa-pencil"></i> Saqlash
                </button>
            </div>
        </form>
    </div>
</div>

