@model IEnumerable<CheckDrive.ApiContracts.DispatcherReview.DispatcherReviewDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<form asp-controller="DispatcherReviews" asp-action="Index">
    <div class="row mt-4">
        <div class="d-flex justify-content-between">
            <div class="col-md-4 mb-4 filter-bar">
                <div class="input-group">
                    <input type="text" class="form-control rounded-left" placeholder="Izlash..." name="searchString" value="@ViewBag.SearchString">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i> Qidirish
                        </button>
                    </div>
                </div>
            </div> 
            <div class="col-md-4 mb-4 d-flex align-items-center">
                <input type="date" name="date" class="form-control me-2">
                <div class="create-btn">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-download"></i> Yuklab olish
                    </button>
                    <div class="dropdown-menu p-3" id="dropdownMenu" aria-labelledby="dropdownMenuButton" data-bs-auto-close="outside">
                        <ejs-calendar id="calendar" change="valueChange" Start="Year" Depth="Year"></ejs-calendar>
                        <a class="dropdown-item mt-2 btn btn-info" href="#" id="downloadButton">Yuklash</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <ejs-grid 
        id="dispatcherReview-list"
        dataSource="@ViewBag.DispatcherReviews"
        gridLines="Both"
        allowSorting="true"
        allowPaging="true"
        dataBound="onDataBound">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Haydovchi" field="DriverName" type="string" textAlign=Center headerTextAlign=Center ></e-grid-column>
                <e-grid-column headerText="Avtomobil" field="CarName" type="string" textAlign=Center headerTextAlign=Center ></e-grid-column>
                <e-grid-column headerText="Dispetcher" field="DispatcherName" type="string" textAlign=Center headerTextAlign=Center></e-grid-column>
                <e-grid-column headerText="Mexanik" field="MechanicName" type="string" textAlign=Center headerTextAlign=Center ></e-grid-column>
                <e-grid-column headerText="Operator" field="OperatorName" type="string" textAlign=Center headerTextAlign=Center></e-grid-column>
                <e-grid-column headerText="Ko'rik vaqti" field="Date" type="date" format="dd-MM-yyyy  |  HH:mm" textAlign=Center headerTextAlign=Center></e-grid-column>
                <e-grid-column  type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script>
    let selectedYear = new Date().getFullYear(); 
    let selectedMonth = new Date().getMonth() + 1; 

    function valueChange(args) {
        var selectedDate = args.value;
        selectedYear = selectedDate.getFullYear();
        selectedMonth = selectedDate.getMonth() + 1; 

        document.getElementById('date_label').textContent = 'Выбранное значение: ' + selectedDate.toDateString();
    }

    document.getElementById('dropdownMenu').addEventListener('click', function (event) {
        event.stopPropagation(); 
    });

    document.getElementById('downloadButton').addEventListener('click', function (e) {
        e.preventDefault(); 

        const url = `/DispatcherReviews/Download?year=${selectedYear}&month=${selectedMonth}`;

        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', ''); 
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link); 

        const dropdown = bootstrap.Dropdown.getInstance(document.getElementById('dropdownMenuButton'));
        dropdown.hide();
    });

    function onDataBound() {
        const headers = document.querySelectorAll('#dispatcherReview-list .e-headercell');

        headers.forEach(header => {
            header.setAttribute('title', header.innerText.trim());
        });
    }
</script>

<script type="text/x-template" id="actionTemplate">
    <button type="button" class="shadow-sm  bg-white rounded e-btn e-flat mx-2" title="Tafsilot" onclick="onDetailsClick(${Id})">
        <i class="bi bi-card-list text-info" style="font-size: 19px;"></i>
    </button>
</script>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Dispetcher ko'rigi ma'lumotlari</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent">
            </div>
        </div>
    </div>
</div>

<script>
    function onDetailsClick(id) {
        $('#detailsContent').empty();
        $.ajax({
            url: `/dispatcherReviews/details/${id}`,
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                $('#detailsContent').html(data);
                var detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                detailsModal.show();
            },
            error: function (error) {
                alert("Ma'lumotlarni yuklashda muammo yuz berdi.");
            }
        });
    }

    $('#detailsModal').on('hidden.bs.modal', function () {
        $(this).find('#detailsContent').empty();
    });
</script>
