@model IEnumerable<CheckDrive.ApiContracts.DispatcherReview.DispatcherReviewDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<form asp-controller="DispatcherReviews" asp-action="Index">
    <div class="row mt-4">
        <div class="d-flex justify-content-between mb-4">
            <div class="col-md-4 filter-bar position-relative">
                <div class="position-relative w-100">
                    <i class="fa-solid fa-magnifying-glass position-absolute top-50 start-0 translate-middle-y ms-3" style="color: dimgray;"></i>
                    <ejs-textbox id="search-box"
                                 name="search"
                                 class="search-box ps-5"
                                 placeholder="Izlash..."
                                 floatLabelType="Never"
                                 value="@ViewBag.SearchString"
                                 input="onChangeSearchAndDate">
                    </ejs-textbox>
                </div>
            </div>
            <div class="col-md-4 date-filter">
                <div class="d-flex gap-4">
                    <ejs-datepicker id="date"
                                    format="dd-MM-yyyy"
                                    placeholder="Sanani tanlang"
                                    floatLabelType="Never"
                                    change="onChangeSearchAndDate">
                    </ejs-datepicker>
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-download"></i> Yuklab olish
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <ejs-grid 
                id="dispatcherReview-list"
                dataSource="@ViewBag.DispatcherReviews"
                gridLines="Both"
                allowSorting="true"
                allowPaging="true"
                dataBound="onDataBound">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Haydovchi" field="DriverName" type="string" textAlign=Center headerTextAlign=Center ></e-grid-column>
                <e-grid-column headerText="Avtomobil" field="CarName" type="string" textAlign=Center headerTextAlign=Center ></e-grid-column>
                <e-grid-column headerText="Dispetcher" field="DispatcherName" type="string" textAlign=Center headerTextAlign=Center></e-grid-column>
                <e-grid-column headerText="Mexanik" field="MechanicName" type="string" textAlign=Center headerTextAlign=Center ></e-grid-column>
                <e-grid-column headerText="Operator" field="OperatorName" type="string" textAlign=Center headerTextAlign=Center></e-grid-column>
                <e-grid-column headerText="Ko'rik vaqti" field="Date" type="date" format="dd-MM-yyyy  |  HH:mm" textAlign=Center headerTextAlign=Center></e-grid-column>
                <e-grid-column  type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script>
    let selectedYear = new Date().getFullYear(); 
    let selectedMonth = new Date().getMonth() + 1; 

    function valueChange(args) {
        var selectedDate = args.value;
        selectedYear = selectedDate.getFullYear();
        selectedMonth = selectedDate.getMonth() + 1; 

        document.getElementById('date_label').textContent = 'Выбранное значение: ' + selectedDate.toDateString();
    }

    document.getElementById('dropdownMenu').addEventListener('click', function (event) {
        event.stopPropagation(); 
    });

    document.getElementById('downloadButton').addEventListener('click', function (e) {
        e.preventDefault(); 

        const url = `/DispatcherReviews/Download?year=${selectedYear}&month=${selectedMonth}`;

        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', ''); 
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link); 

        const dropdown = bootstrap.Dropdown.getInstance(document.getElementById('dropdownMenuButton'));
        dropdown.hide();
    });

    function onDataBound() {
        const headers = document.querySelectorAll('#dispatcherReview-list .e-headercell');

        headers.forEach(header => {
            header.setAttribute('title', header.innerText.trim());
        });
    }
</script>

<script type="text/x-template" id="actionTemplate">
    <button type="button" class="shadow-sm  bg-white rounded e-btn e-flat mx-2" title="Tafsilot" onclick="onDetailsClick(${Id})">
        <i class="bi bi-card-list text-info" style="font-size: 19px;"></i>
    </button>
</script>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Dispetcher ko'rigi ma'lumotlari</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent">
            </div>
        </div>
    </div>
</div>

<script>
    function onDetailsClick(id) {
        $('#detailsContent').empty();
        $.ajax({
            url: `/dispatcherReviews/details/${id}`,
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                $('#detailsContent').html(data);
                var detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                detailsModal.show();
            },
            error: function (error) {
                alert("Ma'lumotlarni yuklashda muammo yuz berdi.");
            }
        });
    }

    $('#detailsModal').on('hidden.bs.modal', function () {
        $(this).find('#detailsContent').empty();
    });
</script>

<script>
    function onChangeSearchAndDate(args) {
        const searchInput = document.getElementById("search-box").value.trim();
        const gridElement = document.getElementById("dispatcherReview-list");
        const gridInstance = gridElement?.ej2_instances?.[0];

        if (!gridInstance) {
            console.error("Grid instance not found.");
            return;
        }

        if (searchInput) {
            gridInstance.search(searchInput);
        } else {
            gridInstance.searchSettings.key = "";
        }

        gridInstance.refresh();
    }
</script>

<style>
    .e-input-group input {
        height: 35px !important;
    }

    .search-box {
        padding-left: 2rem;
    }

    .position-relative .fa-magnifying-glass {
        pointer-events: none;
        z-index: 1;
    }

    button {
        height: 37px;
    }

    .e-pager .e-pagerexternalmsg {
        display: none;
    }

    .modal-content {
        width: 90%;
    }
</style>