@model CheckDrive.ApiContracts.MechanicHandover.MechanicHandoverDto

@{
    ViewData["Title"] = "Edit";
    bool isGivenNullable = Model.IsHanded ?? false;
}

<h1>Edit</h1>

<h4>MechanicHandover</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" @(isGivenNullable ? "checked" : "") onchange="document.getElementById('IsGiven').value = this.checked.toString()" />
                <label class="form-check-label">Berildimi?</label>
                <input type="hidden" id="IsGiven" name="IsGiven" value="@isGivenNullable.ToString()" />
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="MechanicId" />
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarSelectList"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverSelectList"></select>
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Orqaga
                </a>
                <button class="btn btn-outline-success">
                    <i class="fa fa-pencil"></i> Saqlash
                </button>
            </div>
        </form>
    </div>
</div>
