@model IEnumerable<CheckDrive.ApiContracts.MechanicHandover.MechanicHandoverDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <ejs-grid id="mechanicHandovers-list" dataSource="@ViewBag.MechanicHandovers" gridLines="Vertical" allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" type="number"></e-grid-column>
                <e-grid-column headerText="Mexanik F.I.SH" field="MechanicName" type="string"></e-grid-column>
                <e-grid-column headerText="Haydovchi F.I.SH" field="DriverName" type="string"></e-grid-column>
                <e-grid-column headerText="Mashina" field="CarName" type="string"></e-grid-column>
                <e-grid-column headerText="Boshlang'ich' masofa" field="Distance" type="number"></e-grid-column>
                <e-grid-column headerText="Topshirish" field="IsHanded" type="string"> </e-grid-column>
                <e-grid-column headerText="Izoh" field="Comments" type="string"></e-grid-column>
                <e-grid-column headerText="Status" field="Status" type="number"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
