@model CheckDrive.ApiContracts.DoctorReview.DoctorReviewDto

@{
    ViewData["Title"] = "Edit";
    bool isHealthyNonNullable = Model.IsHealthy ?? false;
}

<h4>Ma`lumotni tahrirlash</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" @(isHealthyNonNullable ? "checked" : "") onchange="document.getElementById('IsHealthy').value = this.checked.toString()" />
                <label class="form-check-label">Sog`ligi</label>
            </div>

            <input type="hidden" id="IsHealthy" name="IsHealthy" value="@Model.IsHealthy.ToString()" />

            <div class="form-group mt-3">
                <label asp-for="DriverId" class="control-label">Haydovchi F.I.</label>
                <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverSelectList"></select>
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Date" class="control-label">Sana</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Comments" class="control-label mt-2">Izoh</label>
                <textarea asp-for="Comments" class="form-control" rows="4"></textarea>
            </div>
            <input type="hidden" asp-for="DoctorId" />
            <div class="form-group mt-3">
                <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Orqaga
                </a>
                <button class="btn btn-outline-success">
                    <i class="fa fa-pencil"></i> Saqlash
                </button>
            </div>
        </form>
    </div>
</div>