@model CheckDrive.ApiContracts.DoctorReview.DoctorReviewDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="DoctorReviews" asp-action="Index">
    <div class="row mt-4">
        <div class="d-flex justify-content-between">
            <div class="col-md-4 mb-4 filter-bar">
                <div class="input-group">
                    <input type="text" class="form-control rounded-left" placeholder="Izlash..." name="searchString" value="@ViewBag.SearchString">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i> Qidirish
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4 date-filter">
                <input type="date" name="date" class="form-control">
             </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <ejs-grid 
        id="operatorReview-list" 
        dataSource="@ViewBag.DoctorsReview" 
        gridLines="Both" 
        allowSorting="true" 
        allowPaging="true"
        dataBound="onDataBound">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>                
                <e-grid-column headerText="Shifokor" field="DoctorName" type="string" textAlign=Center headerTextAlign=Center width="300"></e-grid-column>
                <e-grid-column headerText="Haydovchi" field="DriverName" type="string" textAlign=Center headerTextAlign=Center width="300"></e-grid-column>
                <e-grid-column headerText="Ko'rik vaqti" field="Date" type="date" format="dd-MM-yyyy  |  HH:mm" textAlign=Center headerTextAlign=Center></e-grid-column>
                <e-grid-column headerText="Sog'ligi" field="IsHealthy" template="#booleanColumnTemplate" textAlign=Center headerTextAlign=Center></e-grid-column>
                <e-grid-column width="100" type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>


<script>
    function onDataBound() {
        const headers = document.querySelectorAll('#operatorReview-list .e-headercell');

        headers.forEach(header => {
            header.setAttribute('title', header.innerText.trim());
        });
    }
</script>

<script id="booleanColumnTemplate" type="text/x-template">
    ${if(IsHealthy == 0)}
        <span class="badge bg-danger">Kasal</span>
    ${else if(IsHealthy == 1)}
        <span class="badge bg-success">Sog'lom</span>
    ${/if}
</script>

<script type="text/x-template" id="actionTemplate">
    <button type="button" class="shadow-sm  bg-white rounded e-btn e-flat mx-2" title="Tafsilot" onclick="onDetailsClick(${Id})">
        <i class="bi bi-card-list text-info" style="font-size: 19px;"></i>
    </button>    
</script>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Shifokor ko'rigi haqida ma'lumot</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent">
            </div>
        </div>
    </div>
</div>

<script>
    function onDetailsClick(id) {
        $('#detailsContent').empty();
        $.ajax({
            url: `/doctorReviews/details/${id}`,
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                $('#detailsContent').html(data);
                var detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                detailsModal.show();
            },
            error: function (error) {
                alert("Ma'lumotlarni yuklashda muammo yuz berdi.");
            }
        });
    }

    $('#detailsModal').on('hidden.bs.modal', function () {
        $(this).find('#detailsContent').empty();
    });
</script>