@model CheckDrive.ApiContracts.OperatorReview.OperatorReviewDto

@{
    ViewData["Title"] = "Edit";
    bool isGivenNullable = Model.IsGiven ?? false;
}

<h4>Ma`lumotni tahrirlash</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-check form-switch mt-3">
                <input type="hidden" id="IsGiven" name="IsGiven" value="@isGivenNullable.ToString().ToLower()" />
                <input class="form-check-input" type="checkbox" id="IsGivenCheckbox" @(isGivenNullable ? "checked" : "") />
                <label class="form-check-label" for="IsGivenCheckbox">Berildimi?</label>
            </div>
            <div class="form-group mt-3">
                <label asp-for="OilAmount" class="control-label">Yoqilg'i miqdori</label>
                <input asp-for="OilAmount" class="form-control" />
                <span asp-validation-for="OilAmount" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="OilMarks" class="control-label">Yoqilg`i markasi</label>
                <select asp-for="OilMarks" class="form-control" asp-items="ViewBag.OilMarks"></select>
                <span asp-validation-for="OilMarks" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Status" class="control-label">Holati</label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Date" class="control-label">Sana</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="DriverId" class="control-label">Haydovchi F.I.SH</label>
                <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverSelectList"></select>
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="CarId" class="control-label">Moshina</label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarSelectList"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Comments" class="control-label mt-2">Izoh</label>
                <textarea asp-for="Comments" class="form-control" rows="4"></textarea>
            </div>
            <input type="hidden" asp-for="OperatorId" />
            <div class="form-group mt-3">
                <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Orqaga
                </a>
                <button class="btn btn-outline-success">
                    <i class="fa fa-pencil"></i> Saqlash
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const isGivenCheckbox = document.getElementById("IsGivenCheckbox");
            const isGivenHidden = document.getElementById("IsGiven");

            // Initialize checkbox state
            isGivenCheckbox.checked = isGivenHidden.value === "true";

            // Add event listener for checkbox state change
            isGivenCheckbox.addEventListener("change", function () {
                isGivenHidden.value = isGivenCheckbox.checked.toString().toLowerCase();
            });
        });
    </script>
}
