@model IEnumerable<CheckDrive.ApiContracts.MechanicAcceptance.MechanicAcceptanceDto>

@{
    ViewData["Title"] = "Mechanic Acceptances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="MechanicAcceptances" asp-action="Index">
    <div class="row mt-4">
        <div class="d-flex justify-content-between">
            <div class="col-md-4 mb-4 filter-bar">
                <div class="input-group">
                    <input type="text" class="form-control rounded-left" placeholder="Izlash..." name="searchString" value="@ViewBag.SearchString">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i> Qidirish
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-center">
                <input type="date" name="date" class="form-control me-2">
                <div class="create-btn">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-download"></i> Yuklab olish
                    </button>
                    <div class="dropdown-menu p-3" id="dropdownMenu" aria-labelledby="dropdownMenuButton" data-bs-auto-close="outside">
                        <ejs-calendar id="calendar" change="valueChange" Start="Year" Depth="Year"></ejs-calendar>
                        <a class="dropdown-item mt-2 btn btn-info" href="#" id="downloadButton">Yuklash</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-mechanicAcceptances" role="tabpanel" aria-labelledby="nav-mechanicAcceptances-tab">
        <div class="row">
            <div class="col-12">
                <ejs-grid 
                id="mechanicAcceptances-list"
                dataSource="@ViewBag.MechanicAcceptances"
                gridLines="Both" 
                allowSorting="true" 
                allowPaging="true" 
                dataBound="onDataBound">
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                    <e-grid-columns>
                        <e-grid-column headerText="Mexanik" field="MechanicName" type="string" textAlign=Center headerTextAlign=Center width="200"></e-grid-column>
                        <e-grid-column headerText="Haydovchi" field="DriverName" type="string" textAlign=Center headerTextAlign=Center width="200"></e-grid-column>
                        <e-grid-column headerText="Avtomobil" field="CarName" template="#carTemplate" type="string" textAlign=Center headerTextAlign=Center></e-grid-column>
                        <e-grid-column headerText="Ko'rik vaqt" field="Date" type="date" format="dd-MM-yyyy  |  HH:mm" textAlign=Center headerTextAlign=Center></e-grid-column>
                        <e-grid-column headerText="Status" field="Status" template="#statusColumnTemplate" textAlign=Center headerTextAlign=Center width="100"></e-grid-column>
                        <e-grid-column width="100" type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
</div>

<script>
    let selectedYear = new Date().getFullYear();
    let selectedMonth = new Date().getMonth() + 1;

    function valueChange(args) {
        var selectedDate = args.value;
        selectedYear = selectedDate.getFullYear();
        selectedMonth = selectedDate.getMonth() + 1;

        document.getElementById('date_label').textContent = 'Выбранное значение: ' + selectedDate.toDateString();
    }

    document.getElementById('dropdownMenu').addEventListener('click', function (event) {
        event.stopPropagation();
    });

    document.getElementById('downloadButton').addEventListener('click', function (e) {
        e.preventDefault();

        const url = `/MechanicAcceptances/Download?year=${selectedYear}&month=${selectedMonth}`;

        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', '');
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);

        const dropdown = bootstrap.Dropdown.getInstance(document.getElementById('dropdownMenuButton'));
        dropdown.hide();
    });

    function onDataBound() {
        const headers = document.querySelectorAll('#mechanicAcceptances-list .e-headercell');

        headers.forEach(header => {
            header.setAttribute('title', header.innerText.trim());
        });
    }
</script>

 <script id="statusColumnTemplate" type="text/x-template">
    ${if(Status == 0)}
        <span class="badge bg-warning">Kutilmoqda</span>
    ${else if(Status == 1)}
        <span class="badge bg-success">Yakunlangan</span>
    ${else if(Status == 2)}
        <span class="badge bg-danger">Rad etilgan</span>
    ${else if(Status == 4)}
        <span class="badge bg-danger">Haydovchi tomonidan rad etilgan</span>
    ${/if}
</script>

<script id="carTemplate" type="text/x-template">
    <div>
         <a rel='nofollow' href="#" class="car-detail-link" data-id="${CarId}">${CarName}</a>
    </div>
</script>

<div class="modal fade" id="carDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Mexanik (Qabul qilish) ma'lumotari</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="carDetailsContent">
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('click', function (e) {
            if (e.target.classList.contains('car-detail-link')) {
                e.preventDefault();
                const id = e.target.getAttribute('data-id');
                $.ajax({
                    url: `/cars/details/${id}`,
                    type: 'GET',
                    success: function (data) {
                        $('#carDetailsContent').html(data);
                        $('#carDetailsModal').modal({
                            backdrop: 'static',
                            keyboard: false
                        }).modal('show');
                    },
                    error: function () {
                        $('#carDetailsContent').html('<p>Error loading details</p>');
                    }
                });
            }
        });

        $('#detailsModal').on('hidden.bs.modal', function () {
            $(this).find('#detailsContent').empty();
        });
    });
</script>

<script type="text/x-template" id="actionTemplate">
    <button type="button" class="shadow-sm  bg-white rounded e-btn e-flat mx-2" title="Tafsilot" onclick="onDetailsClick(${Id})">
        <i class="bi bi-card-list text-info" style="font-size: 19px;"></i>
    </button>
</script>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content mt-4">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Mexanik (Topshirish) ma'lumotari</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent">
            </div>
        </div>
    </div>
</div>

<script>
    function onDetailsClick(id) {
        $('#detailsContent').empty();
        $.ajax({
            url: `/mechanicAcceptances/details/${id}`,
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                $('#detailsContent').html(data);
                var detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                detailsModal.show();
            },
            error: function (error) {
                alert("Ma'lumotlarni yuklashda muammo yuz berdi.");
            }
        });
    }

    $('#detailsModal').on('hidden.bs.modal', function () {
        $(this).find('#detailsContent').empty();
    });
</script>

<style>
    .modal-content {
        width: 90%;
    }
</style>