@model CheckDrive.ApiContracts.MechanicAcceptance.MechanicAcceptanceDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mexaniklar</h2>

<div class="row">
    <div class="col-12">
        <ejs-grid id="mechanics-list" dataSource="@ViewBag.MechanicAcceptances" gridLines="Vertical" allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" typeof="text"></e-grid-column>
                <e-grid-column headerText="Mexanik F.I.SH" field="MechanicName" typeof="text" class="customcss"></e-grid-column>
                <e-grid-column headerText="Haydovchi F.I.SH" field="DriverName" typeof="text" class="customcss"></e-grid-column>
                <e-grid-column headerText="Mashina" field="CarName" typeof="text" class="customcss"></e-grid-column>
                <e-grid-column headerText="Boshlang'ich masofa" field="Distance" typeof="number" class="customcss"></e-grid-column>
                <e-grid-column headerText="Topshirish" field="isAccepted" typeof="bool" class="customcss"></e-grid-column>
                <e-grid-column headerText="Izoh" field="Comments" typeof="string" class="customcss"></e-grid-column>
                <e-grid-column headerText="Status" field="Status" typeof="number" class="customcss"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
