@model CheckDrive.ApiContracts.Debts.DebtsDto

@{
    ViewData["Title"] = "Edit";
}

<h4>Qarz haqida ma`lumot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group w-50">
                <label asp-for="OilAmount" class="control-label">Yoqilg'i miqdori</label>
                <input asp-for="OilAmount" class="form-control" type="number" />
                <span asp-validation-for="OilAmount" class="text-danger"></span>
            </div>

            <input asp-for="Id" type="hidden" />
            <input asp-for="DriverId" type="hidden" />
            <input asp-for="CarId" type="hidden" />
            <input asp-for="Status" type="hidden" />
            <input asp-for="Date" type="hidden" />
            <input asp-for="DispatcherReviewId" type="hidden" />

            <div class="form-group mt-3">
                <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Orqaga
                </a>
                <button class="btn btn-outline-success">
                    <i class="fa fa-pencil"></i> Saqlash
                </button>
            </div>

        </form>
    </div>
</div>
