@model List<CheckDrive.Web.ViewModels.Debt.DebtViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/debt.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/debts.css" />
}

<div>
    <div class="row mt-3">
        <div class="d-flex justify-content-between">
            <div class="d-flex gap-3 col-md-6 position-relative">
                <div class="position-relative w-60">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <ejs-textbox id="search-box"
                                 name="search"
                                 class="search-box ps-5"
                                 placeholder="Izlash..."
                                 floatLabelType="Never"
                                 value="@ViewBag.SearchString"
                                 input="searchAndFilter">
                    </ejs-textbox>
                </div>
                <div class="filter-bar w-40">
                    <ejs-combobox id="statuses-combobox"
                                  placeholder="Holat bo'yicha saralash"
                                  floatLabelType="Never"
                                  dataSource="@ViewBag.SelectedStatus"
                                  value="@ViewBag.SelectedStatus"
                                  allowObjectBinding="true"
                                  change="searchAndFilter">
                        <e-combobox-fields value="Value" text="Text"></e-combobox-fields>
                    </ejs-combobox>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ejs-grid id="debts-list"
                      allowPaging="true"
                      dataSource="@Model"
                      gridLines="Both"
                      allowSorting="true">
                <e-grid-pagesettings pagesize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Haydovchi" field="DriverFullName" textAlign=Center headerTextAlign=Center width="80"></e-grid-column>
                    <e-grid-column headerText="Yoqilg'i miqdori" field="FuelAmount" textAlign=Center headerTextAlign=Center width="40"></e-grid-column>
                    <e-grid-column headerText="To'langan miqdor" field="PaidAmount" textAlign=Center headerTextAlign=Center width="40"></e-grid-column>
                    <e-grid-column headerText="Holat" textAlign="Center" headerTextAlign="Center" template="#statusTemplate" width="50"></e-grid-column>
                    <e-grid-column width="50" type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

</div>
<div class="modal fade" id="debtModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="debtContent">
            </div>
        </div>
    </div>
</div>

<script id="statusTemplate" type="text/x-template">
    ${if(Status == 0)}
        <span class="badge bg-success">To'langan</span>
    ${else if(Status == 1)}
        <span class="badge bg-danger">To'lanmagan</span>
    ${else if(Status == 2)}
        <span class="badge bg-warning">Qisman to'langan</span>
    ${else if(Status == 3)}
        <span class="badge bg-warning">Menejerni kutilmoqda</span>
    ${/if}
</script>

<script type="text/x-template" id="actionTemplate">
    ${if(Status == 0)}
        <button disabled type="button" class="shadow-sm text-white bg-success-subtle rounded e-btn e-flat mx-2">
            <span>
                Qarz yopilgan
            </span>
        </button>
    ${else}
        <button type="button" onclick="onEditDebt(${Id})" class="shadow-sm text-white  bg-success rounded e-btn e-flat mx-2">
            <span>
                 Qarzni yopish
            </span>
        </button>
    ${/if}
</script>