@model CheckDrive.ApiContracts.DoctorReview.DoctorReviewDto

@{
    ViewData["Title"] = "HelloPage";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<div class="d-flex align-items-center justify-content-center vh-100" style="position: relative;">
    <div class="text-center" style="position: absolute; top: 30%; right: 35%;">
        <h1 class="display-4">Assalomu aleykum, Anvar aka!</h1>
        <p class="lead">Bugungi ishingizga omad.</p>
        <a class="btn btn-success btn-lg mt-3" asp-action="Index">
            <i class="fa fa-play"></i> Ishni boshlaymizmi?
        </a>
    </div>
</div>
