@model CheckDrive.ApiContracts.DoctorReview.DoctorReviewDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<h1 style="margin-left:180px">Shifokor oynasi</h1>

<div class="col-12 text-end mb-2">
    <a class="btn btn-success" asp-action="create" style="margin-right:180px">
        <i class="fa fa-plus"></i> Create
    </a>
</div>

<div class="row">
    <div class="col-12 text-center">
        <ejs-grid id="doctorReviews-list" dataSource="@ViewBag.DoctorsReview" gridLines="Vertical" allowSorting="true" style="margin: 0 auto;">
            <e-grid-columns>
                <e-grid-column headerText="Haydovshi F.I." field="DriverName" textAlign="Center" typeof="text" class="customcss"></e-grid-column>
                <e-grid-column headerText="Shifokor F.I." field="DoctorName" textAlign="Center" typeof="text" class="customcss"></e-grid-column>
                <e-grid-column headerText="Sog`lig`i" field="IsHealthy" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Sabab" field="Comments" textAlign="Center" typeof="text" class="customcss"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var table = document.getElementById("doctorReviews-list");

        var newWidth = "80%";
         
        table.style.width = newWidth;
    });
</script>