@model IEnumerable<CheckDrive.ApiContracts.DoctorReview.DoctorReviewDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<h1 style="margin-left:180px">Shifokor oynasi</h1>

<div class="row">
    <div class="col-12 text-center">
        <ejs-grid id="doctorReviews-list" dataSource="@Model" gridLines="Vertical" allowSorting="true" style="margin: 0 auto;">
            <e-grid-columns>
                <e-grid-column headerText="Haydovshi F.I." field="DriverName" textAlign="Center" typeof="text" class="customcss" width="20%" headerTextAlign="Center" template="#driverTemplate"></e-grid-column>
                <e-grid-column headerText="Shifokor F.I." field="DoctorName" textAlign="Center" typeof="text" class="customcss" width="20%"></e-grid-column>
                <e-grid-column headerText="Sog`lig`i" field="IsHealthy" textAlign="Center" width="20%"></e-grid-column>
                <e-grid-column headerText="Izoh" field="Comments" textAlign="Center" typeof="text" class="customcss" width="20%"></e-grid-column>
                <e-grid-column headerText="Sana" field="Date" textAlign="Center" typeof="text" class="customcss" width="20%"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="driverTemplate" type="text/x-template">
    <a href="/PersonalDoctorReviews/Create?driverId=${DriverId}&driverName=${DriverName}">${DriverName}</a>
</script>


<style>
    #doctorReviews-list {
        width: 80% !important;
    }

        #doctorReviews-list .e-gridheader,
        #doctorReviews-list .e-gridcontent {
            width: 100% !important;
        }

            #doctorReviews-list .e-gridheader th,
            #doctorReviews-list .e-gridcontent td {
                width: auto !important;
                white-space: nowrap;
            }
</style>
