@using CheckDrive.Web.ViewModels.Employee
@model List<EmployeeViewModel>

@{
    ViewData["Title"] = "Ishchilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/employees.css" />
}

@section Scripts {
    <script src="~/js/employees.js"></script>
}

<div>
    <div class="row mt-3">
        <div class="d-flex justify-content-between">
            <div class="d-flex gap-3 col-md-6 position-relative">
                <div class="position-relative w-60">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <ejs-textbox id="search-box"
                                 placeholder="Izlash..."
                                 floatLabelType="Never"
                                 value="@ViewBag.SearchString"
                                 cssClass="search-box"
                                 input="searchAndFilter">
                    </ejs-textbox>
                </div>
                <div class="filter-bar w-40">
                    <ejs-combobox id="positions-combobox"
                                  placeholder="Kasb bo'yicha saralash"
                                  floatLabelType="Never"
                                  dataSource="@ViewBag.Positions"
                                  value="@ViewBag.SelectedPosition"
                                  allowObjectBinding="true"
                                  change="searchAndFilter">
                        <e-combobox-fields value="Value" text="Text"></e-combobox-fields>
                    </ejs-combobox>
                </div>
            </div>
            <div class="d-flex gap-3 col-md justify-content-end">
                <div>
                    <button id="download-dropdown-button" class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-download"></i> Yuklash
                    </button>
                    <div id="dropdown-menu" class="dropdown-menu" aria-labelledby="download-dropdown-button" data-bs-auto-close="outside">
                        <button class="dropdown-item btn btn-info" onclick="exportToPdf()">
                            <i class="fa-solid fa-file-pdf"></i>
                            PDF
                        </button>
                        <button class="dropdown-item btn btn-info" onclick="exportToExcel()">
                            <i class="fa-solid fa-file-csv"></i>
                            CSV
                        </button>
                    </div>
                </div>
                <button id="create-button" class="btn btn-success open-modal" type="button" style="width: 15%">
                    <i class="fa fa-plus"></i> Yangi
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ejs-grid id="employees-list"
                      dataSource="@Model"
                      gridLines="Both"
                      allowSorting="true"
                      allowPaging="true"
                      allowFiltering="true"
                      allowPdfExport="true"
                      allowExcelExport="true"
                      toolbarClick="onToolbarClick">
                <e-grid-selectionsettings mode="Row" type="Single"></e-grid-selectionsettings>
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Ism" field="FirstName" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Familiya" field="LastName" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Sharfi" field="Patronymic" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Passport" field="Passport" textAlign="Center" headerTextAlign="Center"></e-grid-column>
                    <e-grid-column headerText="Telefon raqam" field="PhoneNumber" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Kasb" field="FormattedPosition" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                    <e-grid-column width="180" type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>

<script type="text/x-template" id="actionTemplate">
    <button type="button" class="shadow-sm bg-white rounded e-btn e-flat mx-2" title="Tafsilot" onclick="onDetailsClick(${Id})">
        <i class="bi bi-card-list text-info" style="font-size: 19px;"></i>
    </button>
    <button type="button"  class="shadow-sm bg-white rounded e-btn e-flat" title="Tahrirlash" onclick="onEditClick(${Id})">
        <i class="fa-solid fa-pen fa-lg text-warning" ></i>
    </button>
    <button type="button" class="shadow-sm bg-white rounded e-btn e-flat mx-2"  title="O'chirish" onclick="onDeleteClick(${Id})">
        <i class="fa-solid fa-trash-can fa-lg text-danger" ></i>
    </button>
</script>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">Yangi ishchi qo'shish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-target="#createModal">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="accountModalContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Ishchining ma'lumotlari</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="deleteContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="accountEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">Ishchi ma'lumotini o'zgartirish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-target="#">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="accountEditModalContent">
            </div>
        </div>
    </div>
</div>