@model CheckDrive.ApiContracts.Account.AccountForCreateDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutForModal.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form id="createAccountForm" asp-action="Create" method="post" asp-controller="Accounts">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row gap-5 ms-4 mb-3">
        <div class="col-md-5">
            <div>
                <label asp-for="FirstName" class="control-label">Ism</label>
            </div>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <div>
                <label asp-for="LastName" class="control-label">Familiya</label>
            </div>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row gap-5 ms-4 mb-3">
        <div class="col-md-5">
            <div>
                <label asp-for="Login" class="control-label">Login</label>
            </div>
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <div>
                <label asp-for="Password" class="control-label">Parol</label>
            </div>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row gap-1 ms-4">
        <div class="col-md-4">
            <div>
                <label asp-for="PhoneNumber" class="control-label">Telefon raqam</label>
            </div>
            <input id="phoneNumberId" class="form-control" asp-for="PhoneNumber" style="height:37.6px; width:160px"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <div>
                <label asp-for="Bithdate" class="control-label">Tug'ilgan kun</label>
            </div>
            <ejs-datepicker id="birthdateId"
                            class="background"
                            format="MM/dd/yyyy"
                            ejs-for="Bithdate" 
                            style="height:37.6px"></ejs-datepicker>
            <span asp-validation-for="Bithdate" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <div>
                <label asp-for="RoleId" class=" control-label">Kasb tanlang</label>
                <select name="roleId" asp-for="RoleId" class="form-select form-control border" asp-items="@ViewBag.Roles"></select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-3 mt-5">
        <div class="d-grid w-50">
            <button type="submit" id="saveButton" class="btn btn-success mr-auto" style="font-size: 14px;">
                Yaratish
            </button>
        </div>
    </div>
</form>

