@model CheckDrive.ApiContracts.Car.CarDto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ModalForLayout.cshtml";
}
<h1 class="text-center mb-5 text-danger"><i class="fa fa-exclamation-circle" style="font-size:100px"></i></h1>
<h4 style="color:grey;">
    Haqiqatan ham <b style="color:black"> @Model.Model</b> rusumli <b style="color:black">@Model.Number</b> raqamli avtobilni oʻchirib tashlamoqchimisiz?
    O'chirsangiz bu avtomobil ishtirok etgan barcha ma'lumotlar ham o'chiriladi!!!
</h4>
<div>
    <hr />
    <form asp-action="Delete">
        <div class="d-flex justify-content-center mt-5 m-2" style="gap: 10px;">
            <button asp-action="Index" class="btn btn-secondary" style="width:120px">
                Yo'q
            </button>
            <button type="submit" asp-route-itemid="@Model.Id" class="btn btn-danger" style="width:120px">
                Ha
            </button>
        </div>
    </form>
</div>

