@model CheckDrive.ApiContracts.Car.CarDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Moshina ma`lumotini o`zgartirish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Rangi</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Davlat raqami</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingFuel" class="control-label">Avtomobildagi yoqilg'i hajmi</label>
                <input asp-for="RemainingFuel" class="form-control" />
                <span asp-validation-for="RemainingFuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeduimFuelConsumption" class="control-label">O'rtacha yoqilg'i sarfi</label>
                <input asp-for="MeduimFuelConsumption" class="form-control" />
                <span asp-validation-for="MeduimFuelConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <Yoqilg`i asp-for="FuelTankCapacity" class="control-label">Yoqilg'i baki sig'imi</label>
                <input asp-for="FuelTankCapacity" class="form-control" />
                <span asp-validation-for="FuelTankCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturedYear" class="control-label">Ishlab chiqarilgan yili</label>
                <input asp-for="ManufacturedYear" class="form-control" />
                <span asp-validation-for="ManufacturedYear" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Orqaga
                </a>
                <button class="btn btn-outline-success">
                    <i class="fa fa-pencil"></i> Tahrirlash
                </button>
            </div>
        </form>
    </div>
</div>


