@using CheckDrive.Web.Requests.Cars
@model UpdateCarRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutForModal.cshtml";
}
<form asp-action="edit" method="post" id="editCarForm" onsubmit="validateForm()">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" value="@Model.Id" hidden />
    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="Model" class="control-label">Model</label>
            <input asp-for="Model" class="form-control" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Number" class="control-label">Davlat raqami</label>
            <input asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="ManufacturedYear" class="control-label">Ishlab chiqarilgan yili</label>
            <input asp-for="ManufacturedYear" class="form-control" />
            <span asp-validation-for="ManufacturedYear" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Mileage" class="control-label">Bosib o'tilgan masofasi [km]</label>
            <input asp-for="Mileage" class="form-control" />
            <span asp-validation-for="Mileage" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="OilMarkId" class=" control-label">Yoqilg'i turi</label>
            <select id="oil-mark-select" class="form-select form-control border" name="OilMarkId" asp-for="OilMarkId" asp-items="@ViewBag.OilMarks"></select>
            <span asp-validation-for="OilMarkId" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="FuelCapacity" class="control-label">Yoqilg'i baki sig'imi</label>
            <input asp-for="FuelCapacity" class="form-control" id="fuelTankCapacity" />
            <span asp-validation-for="FuelCapacity" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="AverageFuelConsumption" class="control-label">100 km uchun yoqilg'i me'yori [litr]</label>
            <input asp-for="AverageFuelConsumption" class="form-control" id="meduimFuelConsumption" />
            <span asp-validation-for="AverageFuelConsumption" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="RemainingFuel" class="control-label">Avtomobildagi yoqilg'i qoldig'i [litr]</label>
            <input asp-for="RemainingFuel" class="form-control" id="remainingFuel" oninput="validateRemainingFuel()" />
            <span asp-validation-for="RemainingFuel" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="YearlyDistanceLimit" class="control-label">1 yillik bosib o'tish me'yori [km]</label>
            <input asp-for="YearlyDistanceLimit" class="form-control" id="oneYearMediumDistance" oninput="calculateMonthlyDistance()" />
            <span asp-validation-for="YearlyDistanceLimit" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="MonthlyDistanceLimit" class="control-label">1 oylik bosib o'tish me'yori [km]</label>
            <input asp-for="MonthlyDistanceLimit" type="text" id="monthlyDistance" class="form-control" readonly />
            <span asp-validation-for="MonthlyDistanceLimit" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="YearlyFuelConsumptionLimit" class="control-label">1 yillik yoqilg'i me'yori [litr]</label>
            <input asp-for="YearlyFuelConsumptionLimit" type="text" id="yearlyMediumFuel" class="form-control" readonly />
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="MonthlyFuelConsumptionLimit" class="control-label">1 oylik yoqilg'i me'yori [litr]</label>
            <input asp-for="MonthlyFuelConsumptionLimit" type="text" id="monthlyMediumFuel" class="form-control" readonly />
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center ">
        <button type="submit" class="btn btn-success" style="width:200px" id="saveCarBtn">
             Saqlash
        </button>
    </div>
</form>

