@using CheckDrive.ApiContracts.Car
@model CheckDrive.ApiContracts.Car.CarDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<form asp-controller="Cars" asp-action="Index">
    <div class="container">
        <div class="row mt-4">
            <div class="d-flex justify-content-between mb-4 ">
                <!-- Search -->
                <div class="col-md-4 filter-bar position-relative">
                    <div class="position-relative w-100">
                        <i class="fa-solid fa-magnifying-glass position-absolute top-50 start-0 translate-middle-y ms-3" style="color: dimgray;"></i>
                        <ejs-textbox id="search-box"
                                     name="search"
                                     class="search-box ps-5"
                                     placeholder="Avtomobilni izlash..."
                                     floatLabelType="Never"
                                     value="@ViewBag.SearchString"
                                     input="onChangeSearch">
                        </ejs-textbox>
                    </div>
                </div>

                <!-- Create -->
                <div class="d-flex create-btn" style="gap: 15px;">
                    <div class="mr-2">
                        <a class="btn btn-secondary" href="@Url.Action("CarHistoryIndex", "Cars")">Tarixni ko`rish</a>
                    </div>                   
                    <div>
                        <button id="openCarCreateModal" type="button" data-toggle="modal" class="btn btn-success">
                            <i  class="fa fa-plus"></i> Yaratish
                        </button>                                   
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ejs-grid id="cars-list"
                          dataSource="@ViewBag.Cars"
                          gridLines="Both"
                          allowSorting="true"
                          allowPaging="true">                            
                          <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                    <e-grid-columns>
                        <e-grid-column headerText="Model" field="Model" textAlign="Center" headerTextAlign="Center" typeof="Text"></e-grid-column>
                        <e-grid-column headerText="Davlat raqami" field="Number" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                        <e-grid-column headerText="Bosib o'tgan masofasi'" field="Mileage" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                        <e-grid-column headerText="Rangi" field="Color" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                        <e-grid-column headerText="Ishlab chiqarilgan yili" field="ManufacturedYear" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                        <e-grid-column headerText="Status" field="Status" textAlign="Center" headerTextAlign="Center" type="string"></e-grid-column>
                        <e-grid-column width="180" type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
</form>

<!--  Create Modal Structure -->
<div class="modal fade" id="carModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4>Yangi avtomobil yaratish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">                       
                    </span>
                </button>
            </div>
            <div class="modal-body" id="carmodalContent">
                
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="actionTemplate">
    <button type="button" class="shadow-sm  bg-white rounded e-btn e-flat mx-2" title="Tafsilot" onclick="onDetailsClick(${Id})">
        <i class="bi bi-card-list text-info" style="font-size: 19px;"></i>
    </button>
    <button type="button"  class="shadow-sm  bg-white rounded e-btn e-flat" title="Tahrirlash" onclick="onEditClick(${Id})">
        <i class="fa-solid fa-pen fa-lg text-warning" ></i>
    </button>
    <button type="button" class="shadow-sm   bg-white rounded e-btn e-flat mx-2" title="O&#39;chirish" onclick="onDeleteClick(${Id})">
        <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
    </button>
</script>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Avtomobil ma'lumotlari</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="deleteContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="carEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4>Avtomobil ma'lumotlarini o'zgartirish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                    </span>
                </button>
            </div>
            <div class="modal-body" id="carEditModalContent">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function onEditClick(id) {
        $('#carEditModalContent').empty();
        $.ajax({
            url: "/cars/edit/" + id,
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (data) {
                $('#carEditModalContent').html(data);
                $('#carEditModal').modal({
                    backdrop: 'static', 
                    keyboard: false
                }).modal('show');

            },
            error: function (error) {
                alert("Tahrirlash oynasini ochishda muommo bo'ldi \n" + error);
            }
        });
        $(this).find('#carEditModalContent').empty();
        $(this).off('hidden.bs.modal');

    }
</script>

<script type="text/javascript">
    function onDeleteClick(id) {
        $('#deleteContent').empty();
        $.ajax({
            url: "/cars/delete/" + id,
            type: 'GET',
            success: function (data) {
                $('#deleteContent').html(data);
                $('#deleteModal').modal('show');
            },
            error: function (error) {
                alert("O'chirish oynasini ochishda muommo bo'ldi \n" + error);
            }
        });
        $(this).find('#deleteContent').empty();
        $(this).off('hidden.bs.modal');
    }
</script>

<script>
    function onDetailsClick(id) {
        $('#detailsContent').empty();
        $.ajax({
            url: `/cars/details/${id}`,
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                $('#detailsContent').html(data);
                var detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                detailsModal.show();
            },
            error: function (error) {
                alert("Ma'lumotlarni yuklashda muammo yuz berdi.");
            }
        });
    }

    $('#detailsModal').on('hidden.bs.modal', function () {
        $(this).find('#detailsContent').empty();
    });
</script>

@section Scripts {
  <script>
     $(document).ready(function () {
        $('#openCarCreateModal').on('click',function () {
            $('#carmodalContent').empty();          
            $.ajax({
                url: '/cars/create',
                type: 'GET',                
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    $('#carmodalContent').html(data);                  
                    $('#carModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    }).modal('show');                    
                        $.getScript('/lib/jquery-validation/dist/jquery.validate.min.js', function () {
                            $.getScript('/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js');
                        });
                       
                },
                error: function (error) {
                    alert("Error occurred while saving car.");
                }
            });
        });
        $('#carModal').on('hidden.bs.modal', function () {
            $(this).find('#carmodalContent').empty();
            $(this).off('click');
        });
        $('#carModal').on('click', '.btn-close', function () {
            $('#carModal').modal('hide');
        });
     });
        function validateForm() {
            var fuelTankCapacity = document.getElementById("fuelTankCapacity").value;
            var remainingFuel = document.getElementById("remainingFuel").value;

            if (parseFloat(remainingFuel) > parseFloat(fuelTankCapacity)) {
                alert("Avtomobil yoqilg'i qoldig'i yoqilg'i baki sig'imidan katta bo'lmaydi.");
                return false;
            }
            return true;
        }

        function validateRemainingFuel() {
            var fuelTankCapacity = document.getElementById("fuelTankCapacity").value;
            var remainingFuel = document.getElementById("remainingFuel").value;

            if (fuelTankCapacity === "") {
                alert("Siz avval 'Yoqilg'i baki sig'imi' ga qiymat kiritishingiz kerak");
                document.getElementById("remainingFuel").value = "";
                return false;
            }

            if (parseFloat(remainingFuel) > parseFloat(fuelTankCapacity)) {
                alert("Avtomobil yoqilg'i qoldig'i yoqilg'i baki sig'imidan katta bo'lmaydi.");
                return false;
            }
            return true;
        }

        function calculateMonthlyDistance() {
            var oneYearMediumDistance = document.getElementById("oneYearMediumDistance").value;
            var meduimFuelConsumption = document.getElementById("meduimFuelConsumption").value;

            if (meduimFuelConsumption === "") {
                alert("Siz avval '100 km uchun yoqilg'i me'yori [litr]' ga qiymat kiritishingiz kerak");
                document.getElementById("oneYearMediumDistance").value = "";
                return;
            }

            var monthlyDistance = oneYearMediumDistance / 12;
            document.getElementById("monthlyDistance").value = monthlyDistance.toFixed(1);

            var yearlyMediumFuel = oneYearMediumDistance * (meduimFuelConsumption / 100);
            document.getElementById("yearlyMediumFuel").value = yearlyMediumFuel.toFixed(1);

            var monthlyMediumFuel = yearlyMediumFuel / 12;
            document.getElementById("monthlyMediumFuel").value = monthlyMediumFuel.toFixed(1);
        }
  </script>
} 

<script>
    function onChangeSearch() {
        const searchInput = document.getElementById("search-box").value.trim();
        const gridElement = document.getElementById("cars-list");
        const gridInstance = gridElement?.ej2_instances?.[0];

        if (!gridInstance) {
            console.error("Grid instance not found.");
            return;
        }

        if (searchInput) {
            gridInstance.search(searchInput);
        } else {
            gridInstance.searchSettings.key = "";
        }

        gridInstance.refresh();
    }
</script>

<style>
    .e-input-group input {
        height: 35px !important;
    }

    .search-box {
        padding-left: 2rem;
    }

    .position-relative .fa-magnifying-glass {
        pointer-events: none;
        z-index: 1;
    }

    button {
        height: 37px;
    }

    .e-pager .e-pagerexternalmsg {
        display: none;
    }
</style>