@model CheckDrive.Web.Models.Car

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Avtomobillar</h2>

<div class="row">
    <div class="col-12 text-end mb-2">
        <a class="btn btn-success" asp-action="create">
            <i class="fa fa-plus"></i> Create
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ejs-grid id="cars-list"
                  dataSource="@ViewBag.Cars"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" field="Id" template="#template" typeof="Text"></e-grid-column>
                <e-grid-column headerText="Model" field="Model" typeof="Text"></e-grid-column>
                <e-grid-column headerText="Davlat raqami" field="Number" typeof="text"></e-grid-column>
                <e-grid-column headerText="Rangi" field="Color" typeof="text"></e-grid-column>
                <e-grid-column headerText="Yoqilg`i sarfi, 100km" field="MeduimFuelConsumption" typeof="text"></e-grid-column>
                <e-grid-column headerText="Yoqilg`i bak hajmi" field="FuelTankCapacity" typeof="text"></e-grid-column>
                <e-grid-column headerText="Ishlab chiqarilgan yili" field="ManufacturedYear" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="template" type="text/x-template">
    <div>
        <a rel='nofollow' href="cars/Details/${Id}">${Id}</a>
    </div>
</script>