@using CheckDrive.Web.ViewModels.Car
@model CarViewModel

@{
    ViewData["Title"] = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

@section Styles {
	<link href="~/css/car.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/car.js"></script>
}

<form asp-controller="Cars" asp-action="Index">
        <div class="row mt-3">
            <div class="d-flex justify-content-between">
                <!-- Search -->
                <div class="col-md-4 filter-bar position-relative">
                    <div class="position-relative w-100">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        <ejs-textbox id="search-box"
                                     name="search"
                                     class="search-box ps-5"
                                     placeholder="Izlash..."
                                     floatLabelType="Never"
                                     value="@ViewBag.SearchString"
                                     input="onChangeSearch">
                        </ejs-textbox>
                    </div>
                </div>

                <!-- Create -->
                <div class="d-flex create-btn" style="gap: 15px;">
                    <div class="mr-2">
                        <a class="btn btn-secondary" href="@Url.Action("CarHistoryIndex", "Cars")">Tarixni ko`rish</a>
                    </div>                   
                    <div>
                        <button id="openCarCreateModal" type="button" data-toggle="modal" class="btn btn-success">
                            <i  class="fa fa-plus"></i> Yangi
                        </button>                                   
                    </div>
                </div>
            </div>
        </div>
</form>

<div class="row">
    <div class="col-12">
        <ejs-grid id="cars-list"
                  dataSource="@ViewBag.Cars"
                  gridLines="Both"
                  allowSorting="true"
                  allowPaging="true">                            
                  <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Model" field="Model" textAlign="Center" headerTextAlign="Center" typeof="Text"></e-grid-column>
                <e-grid-column width="130" headerText="Davlat raqami" field="Number" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                <e-grid-column headerText="Bosib o'tgan masofasi [km]" field="Mileage" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                <e-grid-column headerText="Ishlab chiqarilgan yili" field="ManufacturedYear" textAlign="Center" headerTextAlign="Center" typeof="text"></e-grid-column>
                <e-grid-column width="110" headerText="Status" textAlign="Center" headerTextAlign="Center" template="#statusTemplate"></e-grid-column>
                <e-grid-column width="180" type="text" textAlign="Center" template="#actionTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<!--  Create Modal Structure -->
<div class="modal fade" id="carModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4>Yangi avtomobil yaratish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">                       
                    </span>
                </button>
            </div>
            <div class="modal-body" id="carmodalContent">
                
            </div>
        </div>
    </div>
</div>

<script id="statusTemplate" type="text/x-template">
    ${if(Status == 0)}
        <span class="badge bg-success">Bo'sh</span>
    ${else if(Status == 1)}
        <span class="badge bg-warning">Band</span>
    ${else if(Status == 2)}
        <span class="badge bg-danger">Limitdan oshgan</span>
    ${else if(Status == 3)}
        <span class="badge bg-secondary">Nosoz</span>
    ${/if}
</script>

<script type="text/x-template" id="actionTemplate">
    <button type="button" class="shadow-sm  bg-white rounded e-btn e-flat mx-2" title="Tafsilot" onclick="onDetailsClick(${Id})">
        <i class="bi bi-card-list text-info" style="font-size: 19px;"></i>
    </button>
    <button type="button"  class="shadow-sm  bg-white rounded e-btn e-flat" title="Tahrirlash" onclick="onEditClick(${Id})">
        <i class="fa-solid fa-pen fa-lg text-warning" ></i>
    </button>
    <button type="button" class="shadow-sm   bg-white rounded e-btn e-flat mx-2" title="O&#39;chirish" onclick="onDeleteClick(${Id})">
        <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
    </button>
</script>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="detailsModalLabel">Avtomobil ma'lumotlari</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="deleteContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="carEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4>Avtomobil ma'lumotlarini o'zgartirish</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                    </span>
                </button>
            </div>
            <div class="modal-body" id="carEditModalContent">
            </div>
        </div>
    </div>
</div>